 
<!DOCTYPE html>
<html>
  <head>
    <link href="/css/main.css" media= "all" rel="stylesheet">
    <title>Hsing-Hui Hsu</title>
  </head>
  <body>

  <div class= "blog_heading"> Musings</div>

  <div class="posts">
    
    <% @sorted_posts.each do |post, date_array|%>
      <a href="/blog/<%= post%>"> <%= post %></a>
      <br>
    <% end %>
  </div>

 </body>
</html>