<div class= "blog_heading"> Musings</div>

  <div class="posts">
    
    <% @sorted_posts.each do |post, date_array|%>
      <a href="/blog/<%= post%>"> <%= post %></a>
      <br>
    <% end %>
    
</div>
