<!DOCTYPE html>
<html>

<head>
  <link href="/css/portfolio.css" media= "all" rel="stylesheet">
  <title>Portfolio</title>
</head>
<body>

<div class="dinosaurs">
  <div>
    <img src="/images/picassosaur1.jpeg">
  </div>
</div>

</body>
</html>
