
<div class="container">
  <div class="dinosaurs">
    <img src="/img/picassosaur1.jpeg">
  </div>
  <div class="dinosaurs">
    <img src="/img/nurse.jpg">
  </div>
  <div class="dinosaurs">
    <img src="/img/biteykind.jpeg">
  </div>
  <div class="dinosaurs">
    <img src="/img/newfriend.jpeg">
  </div>
  <div class="dinosaurs">
    <img src="/img/checkmate.jpg">
  </div>
  <div class="dinosaurs">
    <img src="/img/picassosaur2.jpg">
  </div>
</div>
