<html>
  <head>
    <link href="/css/main.css" media= "all" rel="stylesheet">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/lightbox-2.6.min.js"></script>
    <link href="css/lightbox.css" rel="stylesheet" />
    <title>Hsing-Hui Hsu</title>
  </head>
  <body class=" <%=@body_class%>">

    <div class='container'> 

      <div class='header'> 
        <h1> Hsing-Hui Hsu </h1>
      </div> 

      <div><ul class='navigation'>
        <li><a href= "/home"> Home</a></li>
        <li><a href= "/about"> About</a></li>
        <li>Portfolio
          <ul class="portfolio_menu">
            <li> <a href= "/portfolio">The Utopia Within</a></li>
            <li> <a href="/portfolio/dinosaurs">Dinosaurs</a></li>
          </ul>
        </li>
        <li><a href = "/blog">Blog</a></li>
      </ul></div>
    
    </div>

    <%= yield %> <!-- this injects specific erb file in layout file -->
    
  </body>
</html>
