body {
  border: 0px;
  background: url(/images/whiteumbrella.jpg);
  background-size: cover; 
  }

.header {
  position: fixed;
  top:80px;
  right: 300px;
  font-variant: small-caps;
  color: black;
  font-weight: 900;
  }

.subheader {
  font-size: 15px;
  text-align: right;
  line-height: .8;
  font-variant: small-caps;
  position: absolute;
  right: 300px;
  top: 200px;
  }

/*start about styling*/
.about {
  border: 0px;
  background: url(/images/rainbow.jpeg);
  background-size: cover; 
  background-position: center right;
  }

.about_container {
  width: 1100px;
  margin: 10px 50px;
  }

.bio_box {
  width: 530px;
  height: 450px;
  overflow: scroll;
  margin-top: 20px;
  display: inline-block;
  background-color: transparent;
  padding-left: 10px;
  }

.profile {
  border: 2px solid black;
  padding: 2px;
  min-height: 300px;
  min-width: 300px;
  }

/*end about styling*/

/*navigation bar styling*/

a:link {
  color: white;
  }

/*a:visited {
  color: blue;
  }*/

.navigation {
  display: block;
  list-style-type:none;
  font-weight: 300;
  background-color: transparent;
  width:900px;
  padding:4px;
  margin: 50px;
  position: relative;
  font-variant: small-caps;
  }

.navigation li {
  display: inline-block;
  padding: 5px;
  color: white;
  }

/*Dropdown menu*/

.portfolio_menu {
  display: none;
  position: fixed;
  list-style-type: none;
  /*margin-left: 0px;*/
  }

.navigation li:hover {
  background-color: #585858;
  }

.navigation li:hover ul {
  display: block;
  margin-left: 0px;
  }

.portfolio_menu li {
  display: block;
  padding-left: 5px;
  margin-left: 0px;
  }

/*end dropdown*/

/*blog styling*/
.posts {
  display: block;
  margin-left: 50px;
  }

.blog_heading{
  font-variant: small-caps;
  margin-left: 50px;
  font-size: 20px;
  }

/*contact styling*/
.contact_block {
  font-variant: small-caps;
  text-align: right;
  margin-right: 300px;
  }

