body {
  background: url(/images/whiteumbrella.jpg);
  background-size: cover; 
}

.header {
  position: absolute;
  top:80px;
  right: 300px;
  font-variant: small-caps;
  color: black;
  font-weight: 900;
}

.subheader {
  font-size: 15px;
  text-align: right;
  line-height: .8;
  font-variant: small-caps;
  position: absolute;
  right: 300px;
  top: 200px;
}

/*about styling*/
.about {
  border: 0px;
  background: url(/images/rainbow.jpeg);
  background-size: cover; 
  background-position: center right;
}

.about_container {
  width: 1100px;
  margin: 10px 50px;
}

.bio_box {
  width: 530px;
  height: 450px;
  overflow: scroll;
  margin-top: 20px;
  display: inline-block;
  background-color: transparent;
  padding-left: 10px;
}

.profile {
  border: 2px solid black;
  padding: 2px;
  min-height: 300px;
  min-width: 300px;
}

/*navigation bar styling*/

a:link {
  color: white;
}

.navigation {
  display: block;
  list-style-type:none;
  font-weight: 300;
  background-color: transparent;
  width:900px;
  padding:4px;
  margin: 50px;
  position: relative;
  font-variant: small-caps;
}

.navigation li {
  display: inline-block;
  padding: 5px;
  color: white;
}

/*Dropdown menu*/

.portfolio_menu {
  display: none;
  position: fixed;
  list-style-type: none;
  margin-left: -45px;
}

.navigation li:hover {
  background-color: #6E6E6E;
}

.navigation li:hover ul {
  display: block;
}

.portfolio_menu li {
  display: block;
  padding-left: 0px;
  margin-left: 0px;
}

/*utopia styling*/
.portfolio_body {
  background: url(/images/steps.jpg);
  background-size: cover;
  background-position: center center;
  }

.utopiatitle {
  color: white;
  font-variant: small-caps;
  background-color: black;
  text-align: center;
  }

.utopiacaption {
  color: black;
  font-variant: small-caps;
  font-size: 20px;
  text-align: center;
  }

.gallery {
  background-color: #6E6E6E;
  margin:5px;
  padding:5px;
  border:1px solid white;
  height:280px;
  width:210px;
  float:left;
  text-align:center;
  }

.utopia {
  vertical-align: middle;
  display:inline;
  margin:5px;
  border:1px solid white;
  opacity: 0.7;
  }

.utopia:hover {
  border:1px solid blue;
  opacity: 1;
  }

.caption {
  color: white;
  vertical-align: bottom;
  text-align:center;
  font-variant: small-caps;
  width:200px;
  margin:5px;
  }

/*dinosaurs styling*/

.dinosaurs {
  display: inline-block;
  margin: 10px;
}

.dinosaurs:hover {
  border: 1px solid blue;
}

/*blog styling*/

.blog_body {
  background: url(/images/balloon.jpg);
  background-size: cover;
}

.posts {
  display: block;
  margin: 10px 80px;
  padding: 10px;
  text-align: justify;
}

.posts h1 {
  font-variant: small-caps;
  font-size: 25px;
}

.posts h2 {
  font-variant: small-caps;
  font-size: 20px;
}

.blog_heading{
  color: white;
  background: linear-gradient(to right, black, white);
  padding: 5px;
  font-variant: small-caps;
  margin-left: 50px;
  font-size: 20px;
}


