.index {
  background: url(/img/whiteumbrella.jpg);
  background-position: 5% 70%;
}

.header {
  position: absolute;
  top:70px;
  right: 250px;
  font-variant: small-caps;
  color: black;
  font-weight: 900;
  font-size: 25px;
}

.subheader {
  font-size: 15px;
  text-align: right;
  line-height: .8;
  font-variant: small-caps;
  position: absolute;
  right: 250px;
  top: 200px;
}

body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin-top: 110px;
}

/*about styling*/
.about {
  border: 0px;
  background: url(/img/rainbow.jpeg);
  background-size: cover;
  background-position: 25% 35%;
}

.about_container {

  width: 1200px;
  margin: 70px 50px;
}

.bio_box h2 {
  font-variant: small-caps;
}

.bio_box {
  width: 530px;
  height: 450px;
  text-align: justify;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  float: left;
  background-color: transparent;
}

.profile {
  border: 2px solid black;
  padding: 2px;
  min-height: 300px;
  min-width: 300px;
}

/*navigation bar styling*/

a:link {
  color: #045FB4;
}

a:visited {
  color: white;
}

.navigation {
  display: block;
  list-style-type:none;
  font-weight: 300;
  width: 800px;
  background: linear-gradient(to right, black, transparent);
  padding:4px;
  margin: 50px;
  position: relative;
  font-variant: small-caps;
}

.navigation li {
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  color: white;
}

/*Dropdown menu*/

.portfolio_menu {
  display: none;
  position: fixed;
  list-style-type: none;
  margin-left: -45px;
}

.navigation li:hover {
  background-color: #6E6E6E;
}

.navigation li:hover ul {
  display: block;
}

.portfolio_menu li {
  display: block;
  padding-left: 0px;
  margin-left: 0px;
  background-color: #6E6E6E;
}

.portfolio_menu li:hover {
  background-color: #151515;
}

/*utopia styling*/
.portfolio_body {
  background: url(/img/steps.jpg);
  background-size: cover;
  background-position: center center;
  }

.utopiatitle {
  color: white;
  font-variant: small-caps;
  background-color: black;
  text-align: center;

}

.utopiacaption {
  color: black;
  font-variant: small-caps;
  font-size: 20px;
  text-align: center;
}

.gallery {
  background-color: #6E6E6E;
  margin:5px;
  padding:5px;
  border:1px solid white;
  height:280px;
  width:210px;
  float:left;
  text-align:center;
}

.gallery a {
  font-variant: small-caps;
}

.gallery a:hover {
  color: blue;
}

.utopia {
  vertical-align: middle;
  display:inline;
  margin:5px;
  border:1px solid white;
  opacity: 0.7;
}

.utopia:hover {
  opacity: 1;
}

.caption {
  color: white;
  vertical-align: bottom;
  text-align:center;
  font-variant: small-caps;
  width:200px;
  margin:5px;
}

.dinosaurs {
  display: inline-block;
  margin: 10px;
  opacity: 0.7;
}

.dinosaurs:hover {
  opacity: 1;
  border: 1px solid blue;
}

/*blog styling*/

.blog_body {
  background: url(/img/balloon.jpg);
  background-size: cover;
}

.posts {
  display: block;
  margin-right: 50px;
  padding: 30px;
  text-align: justify;
  width: 60%;
  float: right;
  border: 1px solid black;
  background-color: white;
}

.posts_index {
  padding-left: 50px;
  text-align: justify;
  width: 25%;
  float: left;
}

.current {
  background-color: white;
  padding-right: 50px;
  float: left;
}

.post_link {
  font-variant: small-caps;
  padding: 3px;
}

.post_link:hover {
  background-color: black;

}

.post_date {
  font-size: 16px;
  font-variant: small-caps;
  color: #BDBDBD;
}

.posts h1 {
  font-variant: small-caps;
  font-size: 25px;
  font-weight: 300;
}

.posts h2 {
  font-variant: small-caps;
  font-size: 20px;
}

.blog_heading{
  color: white;
  padding: 5px;
  width: 700px;
  font-variant: small-caps;
  margin-left: 50px;
  font-size: 25px;
}

.post_body{
  background: url(/img/steps.jpg);
  background-size: cover;
  background-position: right bottom;
}

.posts a {
  color: #2E2E2E;
}

#code {
  width: 500px;
  margin: auto;
}

.peeps {
  width: 500px;
  margin: auto;
}

.footnote {
  font: small-caption;
}

.code {
  width: 70%;
}