body {
  background: url(/images/steps.jpg);
  background-size: cover;
  background-position: center center;
  }

.utopiatitle {
  color: white;
  font-variant: small-caps;
  background-color: black;
  text-align: center;
  }

.utopiacaption {
  color: black;
  font-variant: small-caps;
  font-size: 20px;
  text-align: center;
  }

.gallery {
  background-color: #6E6E6E;
  margin:5px;
  padding:5px;
  border:1px solid white;
  height:280px;
  width:210px;
  float:left;
  text-align:center;
  }

.utopia {
  vertical-align: middle;
  display:inline;
  margin:5px;
  border:1px solid white;
  opacity: 0.7;
  }

.utopia:hover {
  border:1px solid blue;
  opacity: 1;
  }

.caption {
  color: white;
  vertical-align: bottom;
  text-align:center;
  font-variant: small-caps;
  width:200px;
  margin:5px;
  }
.footer{
  clear: both;

}