date: 2013-11-05
title: "In which H goes to Seattle.rb"

<div class="post">
<h1>In which H goes to Seattle.rb</h1>
<h2> It's a man's world </h2>

<p> Tuesday night, ADA's first cohort attended the monthly Seattle.rb get-together at the Substantial offices. It was a place for Ruby developers in the area to get together and share what they're working on, get feedback, and network. </p>

<p>Passing over the actual content of the talks for a minute, one aspect of this whole ADA experience that came to the forefront that evening was the fact that ADA is geared exclusively for women, and beginners. A number of my classmates got the distinct vibe that the working assumption even among those within the tech community is that those two things go hand-in-hand. Blake, one of the more charismatic members of the cohort, introduced herself to the MC as a member of ADA. “You don’t have to say you’re from ADA,” he responded, magnanimously. Two others were cornered at the after-party and forced to suffer through the heavy innuendoes of some so-called Rubyist who had apparently never set eyes on a woman before.</p>

<p>What’s funny about all of this is that, while breaking gender stereotypes is something I’ve often made a point of, the significance of ADA being exclusively for women hadn’t really registered. Suddenly, it seems that being part of something that highlights this distinction seems to have unlocked a deluge of feminist discourse that I was not entirely prepared for. In a universe where women are considered rare and wondrous unicorns (and honestly, even in the universes where they are not), there seems to be a lot of unfortunate innuendo built into the way people talk to and about women.</p>

<p>This feeling isn’t totally foreign---much of what I am experiencing is very similar to other issues of identity that have at various points been at the forefront of my psychological landscape. For example, growing up on the East Coast, I was lucky enough to be surrounded by enough diversity and progressive zeitgeist that, despite my Taiwanese parentage, I never thought twice about being anything other than American. In fact, I don’t think I even consciously thought about being American at all until I lived abroad as an ex-pat. That was during the latter years of the Bush administration, when the almost universal repugnance of U.S. foreign policy forced me to have to explain and apologize for my nationality at every turn. It was exhausting, especially for a recent college graduate just trying to fit into her shiny new adult surroundings. It was incredibly difficult to simply be a part of my community.</p>

<p>Unfortunately, one cannot simply weasel out of one’s gender by claiming Canadian citizenship, and it already seems like catching the tech industry up with the trajectory of social history is going to be a no small trick. As Liz put it, I don’t want to be a mouthpiece for ADA or feminism--I want to be treated as a human being and a peer who is trying to learn along with everyone else.</p>

<h2>But it would be nothing, nothing without a woman or girl</h2>

<p>They say that what you see is what you look for. Being in a group of all women, it’s easy to be sensitive, to magnify certain identity perceptions, and I realize that it’s important to remain very aware of the image we choose to assume. Two TED talks I found pretty interesting in regards to identity and perception are:</p>

<a href="http://www.ted.com/talks/colin_stokes_how_movies_teach_manhood.html">How Movies Teach Manhood</a>

<a href="http://www.ted.com/talks/hetain_patel_who_am_i_think_again.html">Who am I?</a>

<h2>She's lost in the wilderness</h2>

<p>To go back to the content of the Seattle rb. talks: Frankly, it was mostly overwhelming. Much of what ADA has us do has pushed the edges of my comfort zone, and I suppose that is to be expected and it's better to get that sort of thing all over with early on. What I largely had trouble with was, as always, struggling with the sense of my own ignorance. It's a theme that seems to be running through most of the class, as all of the women here are highly intelligent and self-motivated--surprisingly difficult personas for women, even in our enlightened generation/society, to manifest. The main backlash of this is that we bristle more readily than most at Not Knowing All the Things, and at not being in control of our Not Knowing All the Things. Ignorance just doesn’t sit well with unicorns like us. It has been somewhat encouraging to hear, after some titanic struggle with frustration, that even professional developers (with CS degrees and Everything) still regularly run into big thick slabs of gobbledegook, and that it is perfectly normal to feel totally lost. The problem is that we are all Quite New at all of this, and that combined with being Rather Ambitious and Driven people leads to a lot of discomfort when we encounter the towering Wall of Things We Don’t Know And Are Expected to Accept As Sorcery.</p>

<p>Focusing purely on the Ruby language this week I think was beneficial. For me, it put me back in a universe I understood better, a universe that functions on solving logic puzzles. Having a surplus of flexibility to work on various projects was fun, though having more structured to parameters within which to operate would have been useful if nothing else as a psychological anchor, a reassurance that I was learning what I was supposed to. As it stands, all sixteen of us seem to be going off in sixteen slightly different directions, and it’s hard to keep up with each other, much less some hazy sense of what are probably overly-ambitious benchmarks.</p>

<h2>But not lost in bitterness</h2>

<p>In spite of the emotional toll the daily struggle with Not Knowing All the Things is taking, I felt I had a number of breakthroughs this week. Not the least of which was sitting down with one small logical conundrum and figuring it out after several hours of testing and failing and testing again. It was a great test on my own patience and emotional stamina--ironic, since as a math teacher I am always telling my students that it is okay to not know the answer right away, but it is not okay to just not try ideas and give up. The best thing about this week was the high I got from figuring out a problem on my own, and feeling amped to tackle the next piece of code.</p>
</div>