date: 2014-03-30
title: "Ruby v. Python"

<div class="posts">
  <h1>Ruby v. Python</h1><hr>


<!-- def is_even(n):
    if n % 2:
        print "nope"
    else:
        print "yep" -->


</div>

def is_even(n)
  if n % 2 == 0
    puts "yep"
  else
    puts "nope"
  end
end