date: 2013-11-19
title: "Xconomy Forum: Big Insight—Making Sense of Big Data in Seattle"

<div class="posts">
  <h1>Xconomy Forum: Big Insight—Making Sense of Big Data in Seattle</h1><hr>

  <p> The term "data scientist" is one that has been tossed around with increasingly frequency in recent years. The only things I had really heard about data science was that it involved "processing data," and that I should consider it as a career option, so you can imagine that last Tuesday's conference provided some welcome illumination.</p>

  <p>One particularly striking point about big data is that, well, it's really, really big. There were a few numbers thrown out in the first keynote speech, regarding the number of emails sent and the number of tweets per day (somewhere on the order of 500 million per day), and that's not even considered in the ballpark of the big data they were referring to (mostly machine-generated). Suddenly my frustration over the 12,000+ sales objects in one CSV we worked with last week seemed trivial.</p>

  <p>The other striking point for me was the real-world application of data processing, and the concrete solutions it provided to modern dilemmas. Having solid data on traffic patterns in a given municipality, for example, provides ammunition for legislators to combat earmarks for bridge-to-nowhere-esque projects. Consumers with access to sales data on cars help them make more informed decisions on auto purchases, and help regulate competition among dealerships. Big data can also provide the motivation and foundation for innovative new transportation paradigms such as Car2Go.</p>

  <p>All of this all felt very, very adult, and not just in the scary and slightly off-putting way Being Adult always seemed to me growing up, and into college (and probably well into my twenties, if I'm really being honest). It felt very, very Adult in an exciting and empowering way, in a way that made me feel that I could, in fact, enact positive change in the world I live in, and be part of a community of those also interested in effecting such change. </p>
</div>