date: 2013-12-01
title: "In which H still likes Ruby"

<div class="posts">

  <h1> Papa's got a Brand New Bag</h1>

  <p> And if by bag, James Brown meant Sinatra application, then...well, here it is. This week's project was the first time I actually started to feel like a real web developer, since, well, we built a real website. The strange thing is, while the HTML and CSS bits felt fine (with a considerable bit of tinkering), it was difficult to come up with actual design ideas. Strange only because I grew up as One of Those Artsy Types, and expected front-end type stuff to come naturally. But when it came down to it, thinking about styling and structuring usually resulted in long stretches of staring blankly at my text editor. It wasn't until we incorporated Ruby into our pages that I really got motivated.
  </p>

  <p>That being said, I would like to get better at web design.  There are so many tools out there to play with, and I'll admit I"m secretly glad that both my creative and logical side have a means of expressing themselves in this field.</p>
</div>
