date: 2014-02-25
title: "H is for Hstore"

<div class="posts">
  I
  <a href="http://jes.al/2013/11/using-postgres-hstore-rails4/"></a>
  <a href="http://railscasts.com/episodes/345-hstore"></a>

</div>