date: 2013-11-17
title: "In which it so happens that H likes Ruby"

<div class="posts">
  <h1>In which it so happens that H likes Ruby</h1><hr>

  <p>This week seemed to go by both incredibly fast and incredibly slow. We were given our first structured project (https://github.com/Elffers/far_mar_finder), which involved applying many of the Ruby methods we've been learning to date. It was almost a relief to actually have specific tasks with specific parameters to fulfill after the free-flowing, flexible quasi-assignments of the first two week that caused many of us fits of anxiety about whether or not we were learning the right things.</p>

  <p>I found myself getting sucked into the project, working through lunch pretty much every day, trying to solve what were basically a series of logic puzzles. It seemed like everything was suddenly clicking, and I was firing on all cylinders. Concepts that seemed only vaguely useful suddenly had concrete applications, and playing with these shiny new tools all at once became incredibly addicting.</p>

  <p>The biggest source of gratification was getting stumped over and over again, and rather than immediately go running for help, to sit with the discomfort of Not Knowing Everything Immediately and gradually come to a working solution through a (oftentimes long) series of trial and error.It was an important emotional exercise, again, to experience that struggle over and over again and grow more accepting of it.</p>

  <p>The work we did was extremely motivating. I even became comfortable enough with git to create a new repository over the weekend for a side project, Project Euler (https://github.com/Elffers/Project_Euler), which was actually something I began 2 years ago. Back then, I relied purely on my math abilities to somehow power me through the problems, in spite of the fact that I literally knew negative amounts of programming and was trying to write code anyway. Miraculously, the programs I concocted used Java--a langauge I have retained effectively nothing of, probably due to the intense frustration I felt at not being able to write computer programs, complete lack of training or experience be damned (I may have a history of setting unreasonable standards for myself). Now, after only three short weeks of Ruby, I was able to get through 8 problems in a day.</p>

  <p>The hard part now is remembering how to balance all the other stuff. After getting home from ADA one night this week, my housemate observed me somewhat wanly eating chickpeas out of a can for dinner. "Wow," he remarked, "you're already transformed into a programmer."</p>

</div>